# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and DB
*.db
*.sqlite3
*.sqlite
*.log
*.pkl
*.cache
*.bak

# VSCode settings
.vscode/

# ChromaDB persistent storage
chroma_db/
chroma_db_cache/
data/
source_doc_busines/
source_doc_estate/
tmp_documents/
chunk_analyzer/test_embeding
chunk_analyzer/test_embeding_result
law/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.env
.venv/
venv/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test output
htmlcov/
coverage.xml
*.cover


